.header {
  height: 100%;
  max-width: 100%;
  padding: 20px 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.adress {
  position: relative;
  display: flex;
  background-color: black;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  flex-wrap: wrap;
}

.header-adress, .header-adress2 {
  height: 38px;
  display: flex;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 11px;
  text-transform: uppercase;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.header-adress a, .header-adress2 a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.header-adress .phone::before {
  content: '';
  display: inline-block;
  position: relative;
  top: 3px;
  background-image: url('../imagens/icons8-phone.svg');
  background-size: cover;
  width: 15px;
  height: 15px;
}

.logo {
  width: 200px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.header-menu a {
  font-size: 1rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: #160066;
  display: block;
}

.header-menu a:hover {
  color: #C5C3CC; /* COLOR 7 */
}

@media (max-width: 800px) {

  .adress {
    flex-direction: column;
    padding: 20px 0px;
  }

  .header {
    flex-direction: column;
    gap: 50px;
  }

  .header-adress {
    width: 100%;
    justify-content: center;
    gap: 0px;
  }

  .header-adress2 {
    width: 100%;
    justify-content: center;
  }

  .header-menu {
    width: 100%;
    justify-content: center;
  }

  .logo {
    width: 160px;
    text-align: center;
  }
}