/* Adicione isso no seu arquivo css/style.css */

:root {
  --cor-azul-escuro: #160066;
  --cor-branco: #ffffff;
  --cor-rosa-claro: #FFB6C1;
  --cor-cinza-claro: #f0f0f0;
  --cor-azul-claro: #007BFF;
  --cor-azul-claro2: #4585A8;
}

body {
  font-family: Arial, sans-serif;
  background: var(--cor-rosa-claro);
  color: var(--cor-azul-escuro);
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

header {
  max-width: 100%;
  margin: 0 auto;
  background: var(--cor-branco);
  color: var(--cor-azul-claro);
  padding: 20px;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

header h1 {
  font-size: 2rem;
}

.container {
  background: var(--cor-branco);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  color: var(--cor-azul-escuro);
}

input, select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--cor-cinza-claro);
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background: var(--cor-azul-escuro);
  color: var(--cor-branco);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background: var(--cor-azul-claro);
}

footer {
  background: var(--cor-azul-escuro);
  color: var(--cor-branco);
  padding: 10px;
  text-align: center;
  max-width: 100%;
  margin: 20px auto 0;
  border-radius: 0 0 10px 10px;
}

@media (max-width: 600px) {
  header h1 {
    font-size: 1.5rem;
  }

  input, select {
    width: calc(100% - 10px);
    padding: 5px;
  }

  button {
    padding: 5px 10px;
  }
}
